<div class="Main__right__message__block">
  <div class="Main__right__message__block-text">
    <%= message.text %>
  </div>
  <div class="Main__right__message__block-info">
    <div class="Main__right__message__block-info-name">
      <%= message.user.name %>
    </div>
    <div class="Main__right__message__block-info-time">
      <%= message.created_at.to_s(:datetime_jp) %> 
    </div>
  </div>
</div>
