<%= render partial: 'layouts/group_name',locals:{group: @group} %>
<div class="Main">
  <%= render partial: 'layouts/group_index' %>
  <div class="Main__right">
    <div class="Main__right__message">
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">サンプル</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
      <div class="Main__right__message__block">
        <div class="Main__right__message__block-text">テキスト</div>
        <div class="Main__right__message__block-info">
          <div class="Main__right__message__block-info-name">太郎</div>
          <div class="Main__right__message__block-info-time">2020/06/01 12:45</div>
        </div>
      </div>
    </div>
    <form action="#" class="Main__right__form"> 
      <input type="text" placeholder="テキストを入力してください" class="Main__right__form-text">
      <input type="submit" value="送信" class="Main__right__form-btn">
    </form>
  </div>
</div>
