<%= render partial: 'layouts/no_group_name' %>
<div class="Main">
  <%= render partial: 'layouts/group_index', locals: {text_groups: @text_groups, no_text_groups: @no_text_groups} %>
</div>
<%= render partial: 'groups/modal' %>

