<div class="Header">
  <div class="Header__btn"></div>
</div>
<div class="Edit_main">
  <div class = "Edit_main__create">グループ作成</div>
  <div class="Edit_main__create_box">
    <div class="Edit_main__create_box__name">グループ名</div>
    <%= form_with model: @group,class: "Edit_main__create_box__form", local: true do |form| %>
      <%= form.text_field :group_name, class: "Edit_main__create_box__form-text", placeholder: "グループ名を入力してください" %>
      <%= form.submit "作成", class: "Edit_main__create_box__form-btn" %>
    <% end %> 
  </div>
  <div class="Edit_main_index-name">グループ一覧</div>
  <div class="Edit_main_index">
    <div class="Edit_main_index_box">
      <div class="Edit_main_index_box-member">太郎</div>
      <div class="Edit_main_index_box-member">次郎</div>
    </div>
  </div>
</div>