.Header{
  height: 100px;
  width: 100vw;
  background-color: rgb(38, 54, 70);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  position: relative;
  &__title{
    font-size: 30px;
    margin-left: 20px;
    line-height: 80px;
    font-family: 'Sawarabi Mincho', sans-serif;
  }
  &__new_group{
    font-size: 17px;
    height: 20px;
    text-decoration: none;
    color: white;
    position: absolute;
    left: 60px;
    bottom: 5px;
  }

  &__group{
    margin-top: 20px;
    position: absolute;
    left: 400px;
    &-name{
      font-size: 25px;
      height: 40px;
      margin-bottom: 10px;
    }
    &-show{
      font-size: 20px;
      height: 40px;
      margin-top: 40px;
      text-decoration: none;
      color: white;
    }
  }
  &__user{
    margin-top: 10px;
    &-name{
      font-size: 15px;
      height: 30px;
    }
    &-info{
      font-size: 15px;
      height: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      &-edit{
        text-decoration: none;
        color: white;
      }
      &-log_out{
        text-decoration: none;
        color: white;
        margin-left: 20px;
      }
    }
  }
}

.Main{
  height: calc(100vh - 100px);
  width: 100vw;
  background-color: #fff;
  display: flex;
  &__left{
    width: 20vw;
    border-right: solid 2px rgb(163, 161, 161);
    &__search{
      border-bottom: solid 1px rgb(163, 161, 161);
      &-squeeze{
        display: flex;
        &-box{
          margin-left: 5px;
          margin-right: 10px;
        }
      }  
      &-main{
        &-text{
          width: 80%;
        }
        &-btn{

        }
      }
    }
    &__group{
      height: 80px;
      border-bottom: solid 1px rgb(163, 161, 161);
      margin: 5px 0px 0px 5px;
      position: relative;
      &-name{
        font-size: 20px;
        color: rgb(90, 89, 89);
      }
      &-text{
        font-size: 15px;
        color: rgb(146, 145, 145);
      }
      &-time{
        font-size: 15px;
        color: rgb(146, 145, 145);
      }
      &-btn{
        background-color: rgb(107, 107, 107);
        color: white;
        height: 30px;
        width: 80px;
        line-height: 30px;
        text-align: center;
        border-radius: 5px;
        position: absolute;
        bottom: 3px;
        right: 3px;
      }
    }
  }
  &__right{
    width: 80vw;
    &__message{
      height: 90%;
      overflow:auto;
      &__block{
        margin: 15px 5px 10px 5px;
        // border: solid 1px rgb(146, 145, 145);
        &-text{
          margin: 5px;
          font-size: 20px;
          display: inline;
        }
        &-info{
          display: flex;
          margin: 5px 0 5px 5px;
          color: rgb(146, 145, 145);
          &-name{

          }
          &-time{
            margin-left: 20px;
          }
        }
      }
    }
    &__form{
      height: 10%;
      display: flex;
      align-items: center;
      background-color: rgb(38, 54, 70);
      &-text{
        height: 80%;
        width: 90%;
        margin-left: 10px;
        padding-left: 10px;
      }
      &-btn{
        -webkit-appearance: none;
        width: 80px;
        height: 80%;
        background-color: rgb(38, 54, 70);
        color: white;
      }
    }
  }
}
