$back_ground_color: rgb(240, 240, 240);
@mixin form{
  border: solid 1px rgb(170, 170, 170);
  border-radius: 4px;
  width: 60%;
  margin: 0 auto 30px auto;
  margin-top: 5px;
  height: 50px;
  padding-left: 10px;
  display: block;
}

.field_with_errors{
  display: contents;
}
.Edit{
  background: $back_ground_color;
  margin-top: 0;
  &__top{
    height: 2px;
    }
  &__main{
    display: flex;
    &__left{
      width: 35%; 
      min-width: 0;
    }
    &__center{
      background-color: #fff;
      max-width: none;
      width: 800px;
      padding-top: 40px;
      padding-bottom: 40px;
      &__login{
        border-bottom: solid 1px $back_ground_color;
        padding-bottom: 30px;
        margin-bottom: 10px;
        text-align: center;
        &-text{
          text-align: center;
        }
        &-btn{
          text-align: center;
          display: block;
          text-decoration: none;
          border-radius: 4px;
          border: solid 1px #0099e8;
          background-color: #0099e8;
          color: #fff;
          line-height: 40px;
          width: 300px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
        }
      }
      &__text{
        text-align: center;
        border-bottom: solid 1px $back_ground_color;
        margin-bottom: 20px;
        height: 70px;
        font-size: 26px;
        line-height: 60px;
      }
      &__form{
        &-text{
          margin-top: 30px;
          margin-left: 125px;
        }
        &-name{
          @include form;
        }
        &-email{
          @include form;
        }
        &-pass{
          @include form;
        }
        &-pass_conf{
          @include form;
        }
        &-btn{
          text-align: center;
          display: block;
          text-decoration: none;
          border-radius: 4px;
          border: solid 1px #0099e8;
          background-color: #0099e8;
          color: #fff;
          line-height: 40px;
          width: 300px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          margin-top: 30px;
        }
      }
      &__delete{
        border-top: 1px solid $back_ground_color;
        padding-top: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        &-text{
          text-align: center;
        }
        &-btn{
          text-align: center;
          display: block;
          text-decoration: none;
          border-radius: 4px;
          border: solid 1px #0099e8;
          background-color: #0099e8;
          color: #fff;
          line-height: 40px;
          width: 300px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          margin-top: 5px;
        }
      }
    }
    &__right{
      width: 35%;
      min-width: 0;
    }
  }
  &__buttom{
    height: 2px;
  }
}
.devise_errors{
  margin-top: 10px;
}
#error_explanation{
  margin-left: 125px;
  margin-bottom: 15px;
}
span{
  margin-left: 125px;
  margin-bottom: 0;
}