<div class="Main__left">
  <div class="Main__left__search">
    <div class="Main__left__search-squeeze">
      <form action="#" class="Main__left__search-squeeze-box">
        <input type="checkbox">
      </form>
      <p>参加中のグループに絞る</p>
    </div>
    <form action="#" class="Main__left__search-main"> 
      <input type="text" placeholder="グループを検索" class="Main__left__search-main-text">
      <input type="submit" value="検索" class="Main__left__search-main-btn">
    </form>
  </div>
  <div class="Main__left__group">
    <div class="Main__left__group-name">サンプルグループ</div>
    <div class="Main__left__group-text">最新テキスト</div>
    <div class="Main__left__group-time">2020/06/20</div>
    <%= button_to "参加する", '#', class: "Main__left__group-btn" %>
  </div>
  <div class="Main__left__group">
    <div class="Main__left__group-name">サンプルグループ2</div>
    <div class="Main__left__group-text">最新テキスト</div>
    <div class="Main__left__group-time">2020/06/18</div>
    <%= button_to "参加する", '#', class: "Main__left__group-btn" %>
  </div>
</div>
