<div class="Main__left">
  <div class="Main__left__search">
    <div class="Main__left__search-squeeze">
      <form action="#" class="Main__left__search-squeeze-box">
        <input type="checkbox">
      </form>
      <p>参加中のグループに絞る</p>
    </div>
    <form action="#" class="Main__left__search-main"> 
      <input type="text" placeholder="グループを検索" class="Main__left__search-main-text">
      <input type="submit" value="検索" class="Main__left__search-main-btn">
    </form>
  </div>
  <% groups.each do |group| %>  
    <div class="Main__left__group">
     <%= link_to(group_messages_path(group), class: 'Main__left__group-a') do %>
        <div class="Main__left__group-name">
          <%= group.group_name %>
        </div>
        <div class="Main__left__group-text">最新テキスト</div>
        <div class="Main__left__group-time">2020/06/20</div>
        <%= link_to "参加する", join_group_path(group), class: 'Main__left__group-btn' %>
     <% end %>
    </div>
  <% end %>
</div>

